[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
sqlalchemy = "*"
toml = "*"
qt-material = "*"
pyinstaller = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pytest-qt = "*"
blue = "*"
isort = "*"
ruff = "*"
freezegun = "*"

[requires]
python_version = "3.12"
